body{
	background: #F3F7F3;
	font-family: Helvetica;
	color:	black;
}
h1{
	font-size: xx-large;
}
ul{
	list-style-type: square;
}

.center {
	text-align: center;
}
	

.important{
	text-decoration: underline;
}
@media(min-width:800px){
.Container1 {
	display: flex;
	justify-content:flex-start;
}
.Container2 {
	display: flex;
	justify-content:flex-start;
}

.Work-1 {
	width: 49%;
	order: 1;
	flex-direction: column;
	border:1px #ccc solid;
    padding:10px;
}

.Work-2 {
	width: 49%;
	order: 2;
	flex-direction: column;
	border:1px #ccc solid;
    padding:10px;
}

.Work-3 {
	width: 49%;
	order: 1;
	flex-direction: column;
	border:1px #ccc solid;
    padding:10px;
}

.Work-4 {
	width: 49%;
	order: 2;
	flex-direction: column;
	border:1px #ccc solid;
    padding:10px;
}
}